.dialogs {
 
    display: flex; 
    margin: 0;
    justify-content: space-around;

}
@media(max-width:400px){
    .dialogs{
        max-width: 200px;
    }
}

.dialogsItems {
    padding: 10px;
    color: white;
    text-decoration: none;
 
}
.dialog a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    text-decoration: none;
    align-self: left;
    font-weight: 800;
}
@media(max-width:400px){
    .dialog a{
        font-size: 14px; 
    }
}
.dialogsItems .active {
    color: gold;
}

.messages {
    color: white;
    padding: 10px;
    font-size: 18px; 
    border-left: 2px solid white;
}
@media(max-width:400px){
    .messages{
        font-size: 12px; 
    }
}

.messages .message {
    color: white;
}
 .button{
    color: white;
    padding: 4px 100px;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
     border-radius: 10px;
     text-decoration: none;
     border: 1px solid rgb(216, 74, 173) ;
     background: rgb(216, 74, 173);
}
@media(max-width:400px){
    .button{
        padding: 4px 50px;
    }
}
.button:hover{
    background-color: rgb(95, 95, 95) ;
}
.message textarea{
    width: 100%;
    border: 1px solid rgb(216, 74, 173);
    background: transparent;
    resize: none;
    overflow: auto;
    color: white;
    border-radius: 5px;
}
.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

